*{
	margin:0px;
	padding: 0px;
}
body{
	background: #f3f3f3;
}
.head{
	width: 100%;
	height:3.375rem;
	min-width:80rem;
	box-shadow: 0px 0.25rem 0.5rem rgba(0,0,0,0.3);
	position: fixed;
	left: 0rem;
	top: 0rem;
}
.head_inner{
	width: 65rem;
	height: 100%;
	margin:0rem auto;
	padding-left: 3.875rem;
	overflow: hidden;
}
.head_inner img{
	height: 2.125rem;
	margin-top: 0.625rem;
}
.search{
	float: right;
	width: 16.25rem;
	height: 1.625rem;
	border-radius: 0.8125rem;
	border:1px solid #979797;
	margin-top: 0.9375rem;
}
.search_left{
	float: left;
	width: 0.625rem;
	height: 100%;
}
.search  input{
	float: left;
	display: block;
	width: 13.5rem;
	height: 100%;
	border:0rem;
}
.search input::-webkit-input-placeholder{
	font-size:1rem;
}
.search input:-moz-placeholder{
	font-size:1rem;
}
.search input::-moz-placeholder {
	font-size:1rem;
}
.search input:-ms-input-placeholder {
	font-size:1rem;
}
.search_right{
	display: block;
	float: left;
	width: 1.125rem;
	height: 100%;
	background: url(../pic/search.png) left center no-repeat;
	background-size: 100% auto ;
	border:0rem;
	border-style: none;
}
.header{
	width: 100%;
	height:3.375rem;
	min-width:80rem;
}
.banner{
	width: 100%;
	min-width:80rem;
	height: 12rem;
	position: relative;
}
.banner_inner{
	display: none;
	width:100%;
	height: 100%;
	margin:0rem auto;
}
.banner1{
/*	display: block;*/
	background: url(../pic/banner1.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.banner1_inner{
	display: block;
	width: 11.625rem;
	height: 100%;
	margin:0rem auto;
	background: url(../pic/banner1_inner.png) center 3.125rem no-repeat;
	background-size: auto 3.4375rem;
	text-align:center;
	position: relative;
}
.banner1_inner p{
	font-size: 1.65rem;
	position: absolute;
	top: 7.625rem;
}
.banner2{
	/*display:none;*/
	background: url(../pic/banner2.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.banner2_inner{
	width: 11.75rem;
	height: 6.625rem;
	box-shadow: 0.25px 0.25rem 0.5rem rgba(0,0,0,0.3);
	background:url(../pic/logo_index_inner.png) center center no-repeat #ffffff;
	background-size: auto 4.375rem;
	margin:0rem auto;
	margin-top: 2.75rem;
	overflow: hidden;
}
.banner2_logo{
	width: 10rem;
	height: 5rem;
	border:2px solid #585858;
	margin: 0.625rem auto;
}
.banner3{
	/*display: none;*/
	background:url(../pic/banner3_left.png)left center no-repeat,url(../pic/banner3_right.png)right center no-repeat,#f3f3f3;
	background-size: auto 100%;

}
.banner3_inner{
	width: 56.75rem;
	height: 100%;
	margin:0rem auto;
    background: -webkit-linear-gradient(left, #f3f3f3 ,#cecece,#f3f3f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f3f3f3, #cecece,#f3f3f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f3f3f3, #cecece,#f3f3f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f3f3f3 , #cecece,#f3f3f3); /* 标准的语法 */
    overflow: hidden;
}
.banner3_box{
	width: 49.25rem;
	height: 6.25rem;
	border:2px solid #4d4947;
	margin: 3.125rem auto;
	text-align: center;
}
#banner3_p1{
	font-size:1.375rem;
	line-height: 2.375rem;
}
#banner3_p2{
	font-size: 1.75rem;
	line-height: 3.25rem;
}
#button{
	width: 11.625rem;
	height: 0.9375rem;
	position: absolute;
	left: 50%;
	bottom: 0.25rem;
	margin-left: -5.8125rem;
}
#button a{
	display: block;
	float: left;
	width: 0.9375rem;
	height: 0.9375rem;
	background: #4d4947;
	border-radius: 50%;
	margin:0rem 1.4375rem;
}
#button a:hover,#botton a:active{
	background: #d9d2cf;
}